
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/plugins/css/bootstrap.css" rel="stylesheet" />
    <title>Giriş Yap</title>
</head>
<body>
    Giriş Yap
    <form action="#" method="post">
        <p>Kullanıcı Adınız</p>
        <input type="text" class="form-control" name="UserName" required="" />
        <p>Şifreniz</p>
        <input type="text" class="form-control" name="Password" required="" />
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </form>

</body>
</html>
