@{
    ViewData["Title"] = "Home Page";
}
@model List<ÜniversiteSite.Models.Blog>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Düzce Üniversitemize <span> Hoşgeldin!</span></h1>
        <h2>Değer Üreten Üniversite</h2>
        <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Başlayalım!</a>
            <a href="https://www.youtube.com/watch?v=mSS-tfXDrT4" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Tanıtım Videosu</span></a>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">
            <h1>Fakültelerimiz</h1>
            @foreach (var item in Model)
            {
                <span>@item.BlogTitle</span>
            }
            <div style="margin-bottom:2%;" class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class='bx bxl-dribbble'></i></div>
                        <h4 class="title"><a href="">Akçakoca Bey Siyasal Bilgiler Fakültesi</a></h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Eğitim Fakültesi</a></h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Fen Edebiyat Fakültesi</a></h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">İlahiyat Fakültesi</a></h4>
                    </div>
                </div>

            </div>
            <div style="margin-bottom:2%;" class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class='bx bxl-dribbble'></i></div>
                        <h4 class="title"><a href="">İşletme Fakültesi</a></h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Mühendislik Fakültesi</a></h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Orman Fakültesi</a></h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">Sağlık Bilimleri Fakültesi</a></h4>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class='bx bxl-dribbble'></i></div>
                        <h4 class="title"><a href="">Sanat ve Tasarım Fakültesi</a></h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Spor Bilimleri Fakültesi</a></h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Tıp Fakültesi</a></h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">Ziraat Fakültesi</a></h4>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Featured Services Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About</h2>
                <h3>Üniversitemiz Hakkında</h3>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <img src="~/images/portfolio/11.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <h3>Kuruluş</h3>
                    <p class="fst-italic">
                        Düzce Üniversitesi, 1 Mart 2006 tarih ve 5467 sayılı yasayla, Düzce'de kurulmuş devlet üniversitesi. Üniversite, Abant İzzet Baysal Üniversitesi'nin Düzce çevresindeki kampüsünden ayrılarak, yeni bir üniversite kurulmasıyla meydana gelmiştir.
                    </p>
                    <ul>
                        <li>
                            <i class="bx bx-store-alt"></i>
                            <div>
                                <h5>Rektör</h5>
                                <p>	Prof. Dr. Nigar Demircan Çakar</p>
                            </div>
                        </li>
                        <li>
                            <i class="bx bx-images"></i>
                            <div>
                                <h5>Başarılar</h5>
                                <p>
                                    URAP sıralamasına göre dünyanın en iyi 2000 üniversitesi arasında,

                                    Bilimsel yayın ortalaması en yüksek 7. Üniversitesi ve en genç üniversitesi,

                                    Ulusal Kalite Hareketine katılan 3. Üniversite ve 4 Yıldız yetkinlik belgesi,

                                    Tıpta uzmanlık başarısı ile dikkat çekmektedir.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <p>
                        Düzce ili ve çevresi sürdürülebilir kalkınmasına öncülük eden; yenilikçi, girişimci, evrensel bilgi ve değer üreten bir üniversite olarak misyonunu belirlemiştir.

                        Vizyon olarak ise; ürettiği evrensel değerlerle, çevre ve sağlık teknolojileri alanında öncü, proje işbirlikleri ile de bölgesel bir lider olmak.


                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">

            <div class="row skills-content">

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">FAKÜLTE<i class="val">13</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">ENSTİTÜ<i class="val">1</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">YÜKSEKOKUL<i class="val">2</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress">
                        <span class="skill">MESLEK YÜKSEKOKULU<i class="val">10</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">LİSANS PROGRAMI<i class="val">84</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">LİSANSÜSTÜ PROGRAMI<i class="val">94</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">UYGULAMA ARAŞTIRMA MERKEZİ<i class="val">31</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="31" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">KOORDİNATÖRLÜK<i class="val">12</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="77" data-purecounter-duration="1" class="purecounter"></span>
                        <p>TÜBİTAK PROJESİ</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="1092" data-purecounter-duration="1" class="purecounter"></span>
                        <p>BAP PROJESİ</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
                        <p>PATENT</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container" data-aos="zoom-in">

            <div class="row">

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
                </div>

                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
                </div>

            </div>

        </div>
    </section><!-- End Clients Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Fotoğraflar</h2>
                <h3>Düzce'miz ve<span> Üniversitemiz</span></h3>
                <p>Üniversite kampüsümüze ve şehrimizin doğal güzelliklerine göz atabilirsiniz.</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">HEPSİ</li>
                        <li data-filter=".filter-app">ÜNİVERSİTEMİZ</li>
                        <li data-filter=".filter-card">DÜZCE'MİZ</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="~/images/portfolio/1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Düzce Üniversitesi</h4>
                        <a href="~/images/portfolio/1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Düzce Üniversitesi"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="~/images/portfolio/2.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Düzce Üniversitesi</h4>
                        <a href="~/images/portfolio/2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Düzce Üniversitesi"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="~/images/portfolio/3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Düzce Üniversitesi</h4>
                        <a href="~/images/portfolio/3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Düzce Üniversitesi"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="~/images/portfolio/4.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Düzce Üniversitesi</h4>
                        <a href="~/images/portfolio/4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Düzce Üniversitesi"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="~/images/portfolio/5.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Düzce Üniversitesi</h4>
                        <a href="~/images/portfolio/5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Düzce Üniversitesi"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="~/images/portfolio/18.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Düzce Üniversitesi</h4>
                        <a href="~/images/portfolio/18.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Düzce Üniversitesi"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <img src="~/images/portfolio/23.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Düzce Üniversitesi</h4>
                        <a href="~/images/portfolio/23.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Düzce Üniversitesi"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="~/images/portfolio/55.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Düzce</h4>
                        <a href="~/images/portfolio/55.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Düzce"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="~/images/portfolio/56.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Düzce</h4>
                        <a href="~/images/portfolio/56.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Düzce"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="~/images/portfolio/84.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Düzce</h4>
                        <a href="~/images/portfolio/84.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Düzce"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="~/images/portfolio/95.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Düzce</h4>
                        <a href="~/images/portfolio/95.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Düzce"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <img src="~/images/portfolio/64.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Düzce</h4>
                        <a href="~/images/portfolio/64.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Düzce"><i class="bi bi-plus-lg"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <h3><span>İletişim</span></h3>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bi bi-geo-alt-fill"></i>
                        <h3>Adres</h3>
                        <p>Düzce Üniversitesi Konuralp Yerleşkesi Yörük Mah. Merkez/DÜZCE, 81620</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bi bi-envelope-fill"></i>
                        <h3>Email</h3>
                        <p>bilgiislem@duzce.edu.tr </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bi bi-telephone-fill"></i>
                        <h3>Telefon</h3>
                        <p>0850 800 81 81</p>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-6 ">
                    <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12062.190686728207!2d31.1751022!3d40.9037361!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeb421a6422f81e6d!2zRMO8emNlIMOcbml2ZXJzaXRlc2k!5e0!3m2!1str!2str!4v1639521865854!5m2!1str!2str" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>

                <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Adınız" required>
                            </div>
                            <div class="col form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email hesabınız" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Konu" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Mesaj" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Mail Gönder</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->